
/************************
        GENERAL
***********************/
body {
  background: url("../img/backgdimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

/************************
        HEADER
*************************/
header {
  text-align: center;
}

h1 {
  text-align: center;
  clear: both;
  font-family: 'Viga', sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 3%;

}

h1 .hot {
  color: red;
  font-size: 2em;
  text-shadow: 5px 5px 2px purple;
}

h1 .cold {
  font-size: 2em;
  color: aqua;
  text-shadow: 5px 5px 2px navy;
}


header h2 {
  font-family: 'Viga', sans-serif;
  color: green;
  font-size: 2em;
  margin: 0 auto 50px;
}


/*********************
       WRAPPER
*********************/
#wrapper {
  background: lightgreen;
  width: 50%;
  height: 300px;
  text-align: center;
  clear: both;
  margin: auto;
  border-radius: 20px;

}

/**********************
        FORM
**********************/
#guessNumber {
  font-family: 'Viga', sans-serif;
  font-size: 2em;
  text-align: center;
  color: red;
}

#guessNumber span {
  color: green;
  font-size: 1.5em;
  margin-bottom: 2%;
  padding: 0 0 1%;
}

#guessNumber h2 {
  font-family: 'Viga', sans-serif;
  font-size: 2em;
  padding: 6%;
  color: red;
}

/*****************
    BUTTONs
*****************/
#submit, #restart {
  background: #00eeee;
  border: none;
  color: #9932cc;
  font-weight: bold;
  padding: 0.75% 0.55%; 
  text-align: center;
  margin-top: 5px;
 }

#guess{
  padding: 0.55% 0;
}

#output {
  font-family: 'Viga', sans-serif;
  color: green;
  font-size: 2em;
  text-align: center;
}


/********************
  MEDIA QUERY
********************/
@media screen and (max-width: 480px){
  header img {
    height: 50px;
  }
  
  h1 .hot, h1 .cold{
    font-size: 48px;
  }
  
  header h2{
    font-size: 20px;
  }
  #wrapper {
    margin: 0 10px;
    width: 270px;
  }
}

@media screen and (max-width: 720px){
  header img {
    height: 50px;
  }
  
  h1 .hot, h1 .cold{
    font-size: 48px;
  }
  
  header h2{
    font-size: 23px;
  }
  #wrapper {
    width: 400px;
  }
}

